* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 14px;
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    background-color: #716769;
    background-image: url("../img/main_img_3.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#active {
    opacity: 1;
}

/*error message*/
.error {
    display: none;
    opacity: 1;
    position: absolute;
    top: 20px;
    width: 100%;
    z-index: 50;
}

.error_message {
    width: 900px;
    height: 60px;
    margin: 10px auto;
    background-color: rgba(255, 255, 255, .9);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
    padding: 3px;
}

.error_message p {
    border-radius: 5px;
    margin: 0;
    height: 100%;
    line-height: 54px;
    text-align: center;
    color: #716769;
    font-size: 2.5rem;
    font-weight: lighter;
    background-color: rgba(152, 9, 25, 0.2);
}

.main {
    position: relative;
    min-height: 100vh;
    width: 100vw;
}

.logo {
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -164px;
}

.logo img {
    width: 80px;
    margin-left: 124px;
    opacity: .9;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.22);
    border-radius: 50%;
}

.logo h1 {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 2px;
    text-shadow: 0 3px 7px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.22);
}

.date_range_picker {
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    font-family: 'Roboto', sans-serif;
    transition: 1s;
}

.form_content {
    width: 900px;
    padding: 25px 20px;
    margin: auto;
    background-color: rgba(255, 255, 255, .9);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    display: flex;
    justify-content: center;
}

.date_range_picker input {
    width: 300px;
    height: 50px;
    margin: 0 10px;
    background: none;
    border: none;
    outline: 0;
    font-size: 2.5rem;
    font-weight: lighter;
    color: #716769;
}

.date_range_picker input::placeholder {
    color: #716769;
}

.date_range_picker .date_submit {
    width: 190px;
    background: #716769;
    color: #ffffff;
    line-height: 50px;
    border-radius: 0;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
    transition: .3s;
    font-style: normal;
}

.date_range_picker .date_submit:active {
    transform: scale(0.97);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.22);
}

.date_range_picker .date_submit:hover {
    background-color: #584e50;
}

/*Calendar*/
.ui-datepicker {
    display: none;
    width: 300px;
    padding-bottom: 20px;
    background-color: #ffffff;
}

.ui-datepicker-header {
    background-color: #716769;
    height: 60px;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    display: inline-block;
    width: 50px;
    padding: 20px;
    transition: .3s;
}

.ui-datepicker-prev:hover,
.ui-datepicker-next:hover {
    background-color: #a79799;
}

.ui-datepicker-title {
    display: inline-block;
    width: 200px;
}

.ui-datepicker-prev {
    float: left;
}

.ui-datepicker-next {
    float: right;
}

.ui-datepicker-month,
.ui-datepicker-year {
    width: 120px;
    margin: 15px 5px;
    height: 30px;
    background-color: #554a4b;
    border: none;
    color: #ffffff;
    outline: 0;
    border-radius: 0;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.22);
}

.ui-datepicker-year {
    width: 60px;
}

.ui-icon-circle-triangle-w,
.ui-icon-circle-triangle-e {
    cursor: default;
    display: inline-block;
    width: 10px;
    height: 20px;
    color: rgba(0, 0, 0, 0);
    background-image: url("../img/back.png");
    background-size: 10px;
    background-repeat: no-repeat;
}

.ui-state-disabled .ui-icon-circle-triangle-w,
.ui-state-disabled:hover {
    background-image: none;
    background-color: #716769;
}

.ui-icon-circle-triangle-e {
    float: right;
    background-image: url("../img/next.png");
}

/*Dates area*/
.ui-datepicker-calendar {
    width: 280px;
    margin: 0 10px;
    border-collapse: collapse;
    border-spacing: 0;
}

.ui-datepicker-calendar th,
.ui-datepicker-calendar td {
    min-width: 40px;
    min-height: 40px;
    text-align: center;
    font-size: 2rem;
    line-height: 4rem;
    padding: 0;
    color: #716769;
    transition: .2s;
}

.ui-datepicker-calendar td {
    background-color: #ffffff;
    border: none;
}

.ui-datepicker-calendar td:hover {
    background-color: #716769;
}

.ui-datepicker-calendar td:hover a {
    color: #ffffff;
}

.ui-datepicker-calendar a {
    text-decoration: none;
    color: #716769;
}

.ui-datepicker-calendar .ui-state-disabled,
.ui-datepicker-calendar .ui-state-disabled:hover {
    background: #f8f8f8;
    color: #d5d5d5;
    cursor: default;
}

.ui-datepicker-calendar .ui-datepicker-other-month,
.ui-datepicker-calendar .ui-datepicker-other-month:hover {
    background: #ffffff;
}

/*Scroll arrow*/
.scroll {
    position: absolute;
    margin-left: -40px;
    bottom: 40px;
    left: 50%;
}

.scroll p {
    width: 80px;
    text-align: center;
    color: #ffffff;
    font-style: italic;
    font-weight: lighter;
}

.scroll_arrow {
    width: 80px;
}

.scroll_arrow img {
    width: 40px;
    margin-left: 20px;
    animation: bounce 1500ms infinite;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }
    12.5% {
        transform: scale(.97);
    }
    25% {
        transform: scale(.95);
    }
    37.5% {
        transform: scale(.92);
    }
    50% {
        transform: scale(.9);
    }
    62.5% {
        transform: scale(.92);
    }
    75% {
        transform: scale(.95);
    }
    87.5% {
        transform: scale(.97);
    }
    100% {
        transform: scale(1);
    }
}

/*Rooms types*/
.rooms_types {
    padding: 70px 10%;
    background-color: #716769;
}

.room_card {
    margin: 40px 0;
}

.room_card:nth-child(even) .room_details {
    float: left;
}

.room_card:nth-child(even) .room_img {
    float: right;
}

.room_type {
    width: 100%;
    height: 400px;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
    position: relative;
}

.room_img {
    display: inline-block;
    position: relative;
    float: left;
    width: 70%;
    height: 400px;
    background-color: #dddddd;
    overflow: hidden;
}

.room_description {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    transition: .4s;
    padding: 30px;
    font-size: 2rem;
    color: #716769;
    line-height: 3rem;
}
.room_description p {
    font-style: italic;
}
.room_img:hover .room_description {
    opacity: 1;
}
.room_img img {
    opacity: 0;
    transition: .7s;
    position: absolute;
    width: 100%;
}

.room_details {
    display: inline-block;
    background-color: #ffffff;
    width: 30%;
    height: 400px;
    padding: 20px 50px;
    float: left;
    text-align: center;
    z-index: 10;
    position: relative;
}

.room_details h3 {
    color: #716769;
    font-size: 3rem;
}

.person {
    width: 20px;
}

.room_details h2 {
    font-size: 3rem;
    font-weight: lighter;
}

.room_details h2 span {
    font-size: 10rem;
}

.room_details p {
    font-style: italic;
    font-size: 2rem;
    color: #bdbdbd;
}

/*Room results*/
.rooms_results {
    position: relative;
    width: 100%;
    height: 0;
    opacity: 0;
    overflow: hidden;
    margin-top: 100vh;
    padding: 0 10%;
}

.rooms_results h1 {
    color: #716769;
    text-align: center;
    background-color: rgba(255,255,255,0.8);
    display: inline-block;
    width: 100%;
    height: 100px;
    padding: 30px;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

.rooms_results h4 {
    margin: 0;
    padding: 15px;
    color: #716769;
    font-size: 2.5rem;
}

.rooms_results h2 {
    margin: 0 20px;
    border-top: 1px solid #d7c5c7;
    border-bottom: 1px solid #d7c5c7;
}

.rooms_results h3 {
    margin: 20px 0;
}

/*description  box*/
.description {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    height: 400px;
    width: 30%;
    background-color: white;
    transition: 1s;
    opacity: 0.8;
}

.description p {
    font-style: italic;
    font-size: 2rem;
    color: #716769;
    text-align: center;
}

.description .description_text {
    padding: 10px 40px;
    font-style: normal;
    text-align: justify;
}

.room_card:nth-child(even) .description {
    right: 70%;
}

.description img {
    height: 16px;
    width: 16px;
    float: left;
    margin-left: 20px;
    margin-top: 3px;
}

.room_card:nth-child(even) .description img {
    float: right;
    margin-right: 20px;
}